.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90vw;
  margin-top: 1rem;
  /* border: 1px solid grey; */
}
.heroes {
  height: 40vh;
  width: 80vw;
  box-shadow: 2px 2px 3px rgba(7, 7, 7, 0.3);
  /* background-color: red; */
}
.details {
  height: 60vh;
  width: 60vw;
  box-shadow: 2px 2px 3px rgba(7, 7, 7, 0.3);
  /* background-color: blue; */
}
