.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  height: 35vh;
  width: 15rem;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 100%;
}
.avatar > img {
  height: 9rem;
}
.name-id {
  display: flex;
  flex-direction: column;
}
