.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  height: 40vh;
  width: 15rem;
  background-color: aqua;
  padding: 0.5rem;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
}
.avatar > img {
  height: 20vh;
  align-self: flex-start;
}
.name-id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
}
.field {
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
