.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  height: 18rem;
  width: 15rem;
  background-color: aqua;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
}
.avatar > img {
  height: 9rem;
}
.name-id {
  display: flex;
  flex-direction: column;
}
